.address-default-tab-body{
    width: 100%;
    padding: 0px 20px;
}

.address-single-row{
    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: start;

    border-bottom: 1px solid rgb(199, 199, 199);
}


.address-default-tab-body .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}