.book-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50%;
  width: 90%;
  /* background-color: beige; */
  transform: translateX(-50%);
  border-radius: 10px;
}

.book-name {
  font-size: 30px;
  font-weight: bold;
}

.book-view-intro {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bool-col-slide {
  width: 60%;
  background-color: rgb(82, 82, 82);
}

.book-col-price {
  width: 40%;
  background-color: rgb(167, 167, 53);
}

.book-col-infor {
  width: 40%;
  background-color: aquamarine;
}

.book-infor-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  color: rgb(0, 149, 255);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border: 2px, rgb(0, 0, 0), solid;
  border-radius: 5px;
}

.book-see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 30px;
  border: 2px, rgb(0, 0, 0), solid;
  border-radius: 5px;
}

.book-text-book {
  width: 50%;
}

.book-flex-slide {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  transition: transform 0.5s ease;
}

.book-view-frame {
  width: 300px;
  overflow: hidden;
}

.book-body-slide {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 50px;
  align-items: center;
}

.book-small-img {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.book-body-small {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-highlight {
  border: 2px solid transparent;
  cursor: pointer;
}

.book-highlight.active {
  border: 2px solid #007bff;
}

.book-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: rgb(147, 147, 147);
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
}

.book-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(114, 113, 113);
}

.book-same {
  width: 100%;
  height: 500px;
  background-color: rgb(36, 36, 36);
}

.book-review {
  width: 100%;

  padding: 20px;

  display: flex;
  flex-flow: row wrap;

  align-content: start;

  border: 1px solid #000000;
}

.book-review-title {
  width: 100%;
  height: 35px;

  font-size: 20px;
  font-weight: bold;
}

.book-review-rate,
.book-review-btn-review {
  width: 50%;
  height: 170px;
  display: flex;
  align-items: center;
}

.book-review-rate {
  justify-content: start;
}

.book-review-btn-review {
  justify-content: center;
}

.book-review-rate-overall {
  width: 200px;
  margin-right: 20px;
}

.rate-digit {
  height: 75px;

  text-align: center;

  font-size: 60px;
}

.rate-star {
  display: flex;
  justify-content: space-between;

  padding-left: 40px;
  padding-right: 40px;
}

.rate-based-on {
  margin-top: 5px;
  text-align: center;

  color: rgb(140, 140, 140);
}

.book-review-rate-detail {
  width: 400px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-bar {
  width: 200px;
  height: 10px;

  margin-left: 10px;
  margin-right: 10px;

  border-radius: 10px;

  background: rgb(233, 233, 233);
}

.rating-bar-fill {
  height: 100%;

  border-radius: 10px;
  background: rgb(241, 189, 0);
}

.rate-num {
  width: 60px;
}

.book-review .fa-solid.fa-star {
  color: rgb(241, 189, 0);
}

.book-review .fa-regular.fa-star {
  color: rgb(199, 199, 199);
}

.your-review-form {
  border-top: 1px solid rgb(199, 199, 199);

  width: 100%;

  margin-top: 15px;
  padding: 15px 20px;
  padding-bottom: 5px;
}

.form-star-rating {
  display: flex;
  gap: 5px;
}

.review-image{
  width: 150px;
  height: 150px;

  border: 2px dashed rgb(199, 199, 199);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(199, 199, 199);
  font-size: 45px;
}

.reviews{
  width: 100%;
  border-top: 1px solid rgb(199, 199, 199);
  margin-top: 15px;
  padding: 15px 20px;
}

.review{
  width: 100%;

  padding: 10px 0px;

  display: flex;

  border-bottom: 1px solid rgb(199, 199, 199);
}

.review-avatar-ctn{
  width: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.review-avatar{
  width: 50px;
  height: 50px;

  border-radius: 100px;

  overflow: hidden;
}

.review-content-ctn{
  width: 100%;
  padding: 10px;
}

.review-rate-star{
  width: 200px;
  height: 20px;

  display: flex;
  align-items: center;
  gap: 3px;
  
  font-size: 10px;
}

.review-date{
  font-size: 10px;
  color: rgb(199, 199, 199);
}

.review-content-text{
  margin: 10px 0px;
}

.review-content-images{
  display: flex;
  flex-flow: row wrap;

  gap: 10px;

  margin-bottom: 20px;
}

.image-ctn{
  width: 150px;
  height: 150px;
}

.image-ctn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-respond{
  background: rgb(236, 236, 236);

  padding: 10px 15px;

  border-radius: 5px;
}