* {
  box-sizing: border-box;
}

#root {
  width: 100%;

  background-color: white;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notification {
  width: 100%;
  padding: 3px;
  background-color: rgb(1, 137, 255);

  display: flex;
  justify-content: center;

  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

/* @media (max-width: 480px) {
  .notification {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .notification {
    font-size: 1.5rem;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .notification {
    font-size: 1.5rem;
  }
}

@media (min-width: 1201px) {
  .notification {
    font-size: 2rem;
  }
} */