* {
  box-sizing: border-box;
}

#root {
  width: 100%;

  background-color: white;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* @media (max-width: 480px) {
  .notification {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .notification {
    font-size: 1.5rem;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .notification {
    font-size: 1.5rem;
  }
}

@media (min-width: 1201px) {
  .notification {
    font-size: 2rem;
  }
} */