body {
    background-color: #f8f9fa;
}

.sidebar {
    background-color: #343a40;
    padding-bottom: 200px;
    min-height: 100vh;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dropdown div a {
    font-size: 14px;
}

.sidebar a:hover {
    background-color: #495057;
}

.header {
    margin: 0;
    background-color: #ffffff;
    padding: 5px 10px;
    border-bottom: 1px solid #dee2e6;
}

.header .title {
    font-weight: bold;
    font-size: 1.5rem;
}

.active {
    background-color: #454749b7;
}

/* Initial state of sidebar */
.sidebar {
    transition: transform 1s ease;
    display: flex;
    flex-direction: column;
}

/* Sidebar hidden state */
.sidebar.hidden {
    transform: translateX(-100%);
    display: none;
}

.main-expanded {
    margin-left: 0 !important; /* Loại bỏ khoảng trống bên trái */
    width: 100% !important;    /* Chiếm toàn bộ chiều rộng */
    transition: margin-left 0.3s;
}


.sidebar.hidden {
    display: none;
}

.main-expanded {
    width: 100%;
}

